/* Reset CSS de base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paramètres généraux */
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif; /* Modifie selon ta préférence de typo */
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Images et media */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Listes */
ul,
ol {
  list-style: none;
}
